{% extends 'base/master.html' %}
{% load static %}

{% block title %}
Create Website
{% endblock title %}

{% block css %}
<style>
  /* create_website.css */

  #create-website {
    background-color: #f8f9fa;
    padding: 30px 0;
  }

  #create-website h1 {
    color: #363c43;
  }

  #create-website .lead {
    color: #4178a8;
  }

  #create-website .form-group {
    margin-bottom: 20px;
  }

  #create-website .btn {
    display: block;
    width: 20px;
    margin-top: 20px;
  }
  
</style>

{% endblock css %}

{% block content %}
<section id="create-website">
  <div class="container my-5 ">
    <div class="row">
      <div class="col-lg-7 mt-5 bg-transparent">
        <img src="/static/img/create122.jpg" class="card-img" alt="..."> 
      </div>
      <div class="col-lg-4 mt-5">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="">Create Website</h1>
            <p class="fs-7">
              Use this form to create a new website for optimization.
            </p>

            <form method="post">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="websiteName lead">Website Name</label>
                <input type="text" class="form-control lead" id="websiteName" placeholder="Enter website name" name="name"
                  required>
              </div>
              <div class="form-group mb-3">
                <label for="websiteUrl lead ">Website URL</label>
                <input type="url" class="form-control lead" id="websiteUrl" placeholder="Enter website URL" name="url" required>
              </div>
              <button type="submit" class="btn btn-primary">Create Website</button>
            </form>
          </div>
        </div>
      </div>
      
    </div>
</section>
{% endblock %}