{% extend 'base/master.html' %}

{% block content %}
    <div class="container">
        <header>
            <h1>Optimize Website</h1>
        </header>
        <main>
            <h2>{{ website.name }}</h2>
            <p>URL: <a href="{{ website.url }}">{{ website.url }}</a></p>
            <form action="{% url 'optimize_website' website.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Start Optimization">
            </form>
        </main>
    </div>
    
    {% endblock content %}