{% extends 'base/master.html' %}

{% block content %}


<div class="container mt-5">
    <header>
        <h1>Optimized Websites</h1>
    </header>
    <main>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th scope="col">Website Name</th>
                    <th scope="col">Website URL</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for website in websites %}
                <tr>
                    <td>{{ website.name }}</td>
                    <td><a href="{{ website.url }}">{{ website.url }}</a></td>
                    <td>{{ website.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</div>

{% endblock %}